.bgLightGray {
    background-color: lightgray;
}

.bgGray {
    background-color: gray;
}

.nav-link {
	color: white !important;
}

.logout {
    color: #757575;
    font-size: 13px;
    background-color: white;
    border: 0px;
    padding: 6px 5px 11px 5px;
    width: 100px;
    border-radius: 0.7px;
    box-shadow: 1.5px 1.5px 3px 0 rgba(92, 92, 92, 1), 0 -0.1px 1px 0 rgba(92, 92, 92, 1);
    cursor: pointer;
}

.logout:hover {
    box-shadow: 1px 1px 4px 0 rgba(43, 128, 255, 0.5), -1px -1px 4px 0 rgba(43, 128, 255, 0.5);
    transition-delay: 0.1s;
    z-index: 2;
}


.table > tbody > tr > td {
     vertical-align: middle;
}