<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<typeAlias type='mygamewishlist.model.pojo.db.User' alias='User'></typeAlias>
		<typeAlias type='mygamewishlist.model.pojo.db.Game' alias='Game'></typeAlias>
		<typeAlias type='mygamewishlist.model.pojo.db.Review' alias='Review'></typeAlias>
		<typeAlias type='mygamewishlist.model.pojo.db.Shop' alias='Shop'></typeAlias>
		<typeAlias type='mygamewishlist.model.pojo.db.WishListGame' alias='WishListGame'></typeAlias>
		<typeAlias type='mygamewishlist.model.pojo.ReviewList' alias='ReviewList'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='mygamewishlist/model/dao/mapper/WishListGame.xml' />
		<mapper resource='mygamewishlist/model/dao/mapper/Game.xml' />
		<mapper resource='mygamewishlist/model/dao/mapper/Review.xml' />
		<mapper resource='mygamewishlist/model/dao/mapper/User.xml' />
		<mapper resource='mygamewishlist/model/dao/mapper/Shop.xml' />
	</mappers>
</configuration>